*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
}

.header{
    background-color: #0F2557;
    color: #FFFFFF;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container{
    width:90%;
    margin-top: 60px;
    padding: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sub-header{
    color: #0F2557;
    margin-top: 16px;
}

.url-upload-toggle{
    margin: 16px;
    color: #0F2557;
    font-weight: bold;
    cursor: pointer;
}

.url-upload-toggle:hover{
    font-size: 17px;
}